&#updatePaymehtMethod {

    .debtDescription{
        font-size: 16px;
    }
    .debtValue{
        font-size: 22px;
    }
    .featureColor{
        color: #e9b425;   
    }

    .alert-sm {
        padding: 9px 0px 9px 47px;
    }

    .bgRecoveryBox{
        background-color: #f1f1f1;
        padding: 20px 10px;
    }

    .helpblockWidth{
        width:270px;
    }

    .checkDigitWidth{
        width:44px;
    }
    .otherCardLabel{
        float:left;
        margin-top:5px;
    }

    
}
