<section id="contactCenter" ng-class="{ 'v-margin-only-bottom-30' : totalNumberOfMessagesOnDisplay > 0, 'v-margin' : totalNumberOfMessagesOnDisplay == 0 }"  >
	<div class="container no-padding-left no-padding-right">
		<h4>Telefones de Contato</h4>
        <div class="container" >
		    <dl>
                <dt>UOL</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-2002</strong></dd>
                <dd>Demais Localidades	<strong>0800-771-7774</strong></dd>

                <dt>BOL</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-2054</strong></dd>
                <dd>Demais Localidades	<strong>0800-703-4020</strong></dd>

                <dt>UOL HOST</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-9011</strong></dd>
                <dd>Demais Localidades	<strong>0800-881-9011</strong></dd>

                <dt>Assistência Técnica</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-3028</strong></dd>
                <dd>Demais Localidades	<strong>0800-728-2028</strong></dd>

                <dt>Emprego Certo PF</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-9600</strong></dd>
                <dd>Demais Localidades	<strong>0800-728-2006</strong></dd>

                <dt>Emprego Certo PJ</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-2707</strong></dd>
                <dd>Demais Localidades	<strong>0800-721-4001</strong></dd>

                <dt>UOL Educação</dt>
                <dd>Capitais e regiões metropolitanas <strong>4003-6792</strong></dd>
                <dd>Demais Localidades	<strong>0800-728-2052</strong></dd>
            </dl>
        </div>
	</div>
</section>
