{{=[[ ]]=}}
<style>
    body { min-width: 600px !important; }
</style>
<section id="wrapper" class="no-margin" ng-init="init()">

	<!-- LOADING IMG -->
	<div id="iframe-loading" class="container" style="margin:20px auto; width:100%; height:100%; display:table;" >
		<div class="row text-center" style="margin:auto; display:table-cell; vertical-align:middle; width:100%; height:300px;">
			<div class="alert alert-md alert-loader alert-loader-box preloader-alert" ></div>
		</div>
	</div>

	<!-- IFRAME WRAPPER -->
	<div id="iframe-wrapper" class="container" style="margin:20px auto; width:100%; height:100%; display:table;">
	</div>

</section>
