{{=[[ ]]=}}
<section id="changePassword" ng-class="{ 'no-margin-top v-margin-only-bottom-30' : Notify.getAllNotifies().length > 0, 'v-margin' : Notify.getAllNotifies().length == 0 }"  >
    <div class="container no-padding">

        [[> ../includes/preloader.inc ]]

        <form ng-submit="passwordNonLogged.change()">
            <div class="form-group" ng-show="!preloader" >

                <h4>Alterar senha</h4>

                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <p>
                        Seu e-mail:<br>
                        <strong>{{userEmail}}</strong>
                        <input id="emailHidden" type="hidden" value="{{userEmail}}">
                    </p>
                </div>

                <div class="row">
                    <div sac-input-password name="'password'" control-label="'Nova Senha'"  field="password" id="password" placeholder="''" showcheckbox="true"></div>
                </div>

                <div class="passwordTip-xs hidden row v-margin-only-top-10">
                    <span class="passwordTip"></span>
                </div>

                <div class="container v-margin-only-top-20" ng-show="!preloader" >
                    <div sac-input type="'password'" name="'passwordConfirmation'" control-label="'Confirme a nova senha'" field="passwordConfirmation" tabindexer="2" inputclass="'col-xs-24 col-sm-10 col-md-8 col-lg-8 no-padding-left no-padding-right'" ></div>
                </div>

                <div class="row v-margin-only-top-10" ng-show="!preloader" >
                    <div class="form-group">
                        <div class="col-xs-24 col-sm-5 col-md-5 col-lg-5">
                            <button class="btn btn-primary row" id="submitButton" id="submitChangePassword"  click-once  click-once-validate="validate" >Alterar senha</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <br><br>
</section>
