{{=[[ ]]=}}
<section id="relationshipQuestions" ng-class="{ 'v-margin-28' : totalNumberOfMessagesOnDisplay == 0 }"  >
    <div class="container no-padding">
        [[> ../includes/preloader.inc ]]
        <div class="form-group" ng-show="!preloader" >

            <h4>Esqueceu sua senha?</h4>

            <div class="container">
                Responda a estas perguntas da forma mais completa e precisa possível.<br><br>
                As perguntas identificadas com um * (asterisco) são de preenchimento obrigatório.
            </div>

            <div class="v-spacer container" ></div>

            <form ng-submit="checkAnswersBeforeSend()">

                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-14 v-margin-only-bottom-20" id="relationshipQuestionsContainer" >
                    <div class="alert alert-sm alert-loader alert-loader-box" ng-show="preloader" ></div>
                </div>

                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 v-margin-only-bottom-20">
                    <button type="submit" class="btn btn-primary col-xs-24 col-sm-4 col-md-4 col-lg-4" click-once id="submitRelationshipQuestions" click-once-validate="validate" >Enviar</button>
                    <div class="spacer"></div>
                    <button type="button" ng-click="nextStep()" class="btn btn-default col-xs-24 col-sm-8 col-md-6 col-lg-6" click-once >Não lembro essas respostas</button>
                </div>

            </form>

        </div>
    </div>
</section>
