{{=[[ ]]=}}
<section id="passwordAndSecurity" ng-class="{ 'no-margin-top v-margin-only-bottom-30' : Notify.getAllNotifies().length > 0, 'v-margin' : Notify.getAllNotifies().length == 0 }">

	<div class="container no-padding">
		<h4>Senha e segurança</h4>
		<!-- h5 class="col-xs-24 col-sm-24 col-md-24 col-lg-24 borderTitle">Senha</h5 -->
	</div>

	[[> password.html ]]

	<!--<div class="container">-->
		<!--<div class="form-group">-->
			<!--<h5 class="col-xs-24 col-sm-24 col-md-24 col-lg-24 borderTitle">Recuperação de senha e perguntas de segurança</h5>-->
		<!--</div>-->
	<!--</div>-->

	<!--[ [ > cellphone.html ] ]

	[ [ > alternativeEmail.html ] ]

	[ [> securityQuestions.html ] ]-->

</section>
