&#passwordAndSecurity {

    section.inactive{
        display: none;
    }

    section.active{
        display: block;
    }

    .characatersLeft{
        float: right;
        font-size: 12px;
    }

    .borderTitle{
        padding-bottom: 10px;
        border-bottom: 1px solid $yellowUol;
    }

    .hrWhite{
       border-color: #fff;
    }

    .bgRecoveryBox{
        /*background-color: #f1f1f1;
        padding: 20px 10px; */
    }

    .boxInactive{
        display: none;
    }

    .alert{
        margin-bottom: 0;
    }
    .alert-sm {
        padding: 14px 0 16px 38px;
    }
    .alert-sm:before{
        left: 0;
    }


}

